<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Home</title>
    </head>
    <body>
        {{> header}}
        <h2>Here is the information about Express.</h2>        
        {{> footer}}
    </body>
</html>