<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Home</title>
    </head>
    <body>
        {{> header}}
        <h2>Welcome to Express {{Name}}!!</h2>
        <p>I am very happy to help you!!</p>
        {{> footer}}
    </body>
</html>